.Button:before {
    transition: unset !important
}

.Button:hover:before {
    transition: unset !important
}

.Heading {
    letter-spacing: 0.1em
}

.Header {
    box-shadow: none !important
}

.Header .Header__SecondaryNav {
    text-align: right
}

.Linklist__Item>.Link {
    font-size: 13px
}

.Header__FlexItem.Header__FlexItem--fill {
    -webkit-flex: 1 33.33333%;
    -ms-flex: 1 33.33333%;
    flex: 1 33.33333%
}

@media screen and (max-width: 640px) {
    .Header__FlexItem.Header__FlexItem--fill {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        min-width: 70px
    }
}

.Header__FlexItem.Header__FlexItem--fill .HorizontalList .HorizontalList__Item .Link {
    letter-spacing: 0.1em
}

.Header__FlexItem.Header__FlexItem--fill .Header__Icon span {
    letter-spacing: 0.1em
}

.Drawer__Content .SidebarMenu__Nav .Collapsible {
    letter-spacing: 0.1em;
    border: none
}

.Drawer__Content .SidebarMenu__Nav .Collapsible .Collapsible__Button {
    letter-spacing: 0.1em;
    padding: 7px 0
}

.Drawer__Content .SidebarMenu__Nav.SidebarMenu__Nav--secondary {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 20px
}

.Drawer__Content .SidebarMenu__Nav.SidebarMenu__Nav--secondary .Linklist .Linklist__Item {
    margin-bottom: 0
}

.Drawer__Content .SidebarMenu__Nav.SidebarMenu__Nav--secondary .Linklist .Linklist__Item>.Link {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 7px 0;
    color: #171717;
    line-height: 19.8px
}

.Footer .Footer__Block--text .Footer__Content img {
    margin: 0 0 2em
}

.Modal::-webkit-scrollbar-track {
    background-color: #fff
}

.Modal::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5
}

.Modal::-webkit-scrollbar-thumb {
    background-color: #000000
}

.Modal.Modal--pageContent {
    height: 50%;
    width: 100%;
    margin: auto;
    max-width: 600px;
    padding: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    outline: none
}

.Modal .Modal__Content .size-guide__section {
    padding-top: 0px
}

.Modal .Modal__Content .Container {
    padding: 0 30px
}

.Modal .Modal__Content .Container .Modal__Help {
    margin-top: 25px;
    display: inline-block
}

.Modal .Modal__Close {
    position: absolute;
    top: -30px;
    right: 10px
}

.Modal .Modal__Close.RoundButton {
    background: #171717;
    color: #ffffff;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.32);
    width: 40px;
    height: 40px
}

@media screen and (max-width: 640px) {
    .flickity-viewport {
        min-height: 400px;
        height: 100% !important
    }
    .flickity-viewport .Carousel__Cell {
        min-height: 400px;
        height: 100% !important
    }
    .flickity-viewport .Carousel__Cell img {
        width: 240%
    }
}

@media screen and (min-width: 641px) {
    .Slideshow__Slide .SectionHeader__SubHeading {
        font-size: 75px;
        font-weight: 700;
        letter-spacing: 4px
    }
}

@media screen and (min-width: 641px) {
    .Slideshow__Slide .SectionHeader__Heading {
        font-size: 20px;
        margin-top: -85px;
        font-weight: 500
    }
}

@media screen and (max-width: 640px) {
    .Slideshow__Slide .SectionHeader__SubHeading {
        font-size: 28px;
        font-weight: 800;
        line-height: 26px
    }
}

@media screen and (max-width: 640px) {
    .Slideshow__Slide .SectionHeader__Heading {
        font-size: 11px;
        margin-top: -10px
    }
}

.AspectRatio--tall>img {
    height: 100%;
    width: auto;
    object-fit: cover
}

.Image--fadeIn {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease
}

.AspectRatio.Product__Sold-out {
    overflow: hidden
}

.AspectRatio.Product__Sold-out:after {
    content: "";
    transform: rotate(213.5deg);
    -webkit-transform: rotate(213.5deg);
    -moz-transform: rotate(213.5deg);
    -ms-transform: rotate(213.5deg);
    -o-transform: rotate(213.5deg);
    border-right: 1px solid #656363;
    width: 1px;
    height: 123%;
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -45px
}

@media screen and (max-width: 640px) {
    .AspectRatio.Product__Sold-out:after {
        top: -29px
    }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    .AspectRatio.Product__Sold-out:after {
        top: -61px
    }
}

@media screen and (min-width: 1008px) and (max-width: 1239px) {
    .AspectRatio.Product__Sold-out:after {
        top: -40px
    }
}

@media screen and (min-width: 1500px) {
    .AspectRatio.Product__Sold-out:after {
        top: -70px
    }
}

.size-guide__section {
    padding-top: 120px
}

.size-guide__section .Grid__Cell {
    font-size: 0.9rem
}

.size-guide__title.text-center {
    text-align: center;
    margin-bottom: 25px
}

.Modal__Content.sizeChart table {
    width: 95%
}

.Modal__Content.sizeChart table thead tr th {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    font-weight: normal
}

.Modal__Content.sizeChart table thead tr th,
.Modal__Content.sizeChart table tr td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    text-align: center
}

.Modal__Content.sizeChart table thead tr th:first-child,
.Modal__Content.sizeChart table tr td:first-child {
    text-align: left
}

.Modal__Content.sizeChart table tbody tr:nth-child(odd) {
    background: #f9f9f9;
    transition: all 0.3s ease-in-out
}

.Modal__Content.sizeChart table tbody tr:hover {
    background: #f5f5f5
}

.size-guide-link {
    display: block;
    margin-left: 12px;
    margin: 0;
    text-decoration: none !important;
    padding: 0px 30px 10px 12px !important;
    border-bottom: 1px solid #dddd
}

.size-guide-link h3 {
    font-size: 12px;
    margin: 0
}

.ProductMeta__Description .Link--primary {
    display: block;
    margin-left: 12px;
    text-decoration: none !important;
    padding: 0px 30px 10px 12px !important;
    border-bottom: 1px solid #dddd;
    font-size: 12px;
    margin: 0;
    text-align: left;
    border-top: none
}

.product-description-slider>div[style] {
    padding: 15px 10px !important
}

.size-list {
    text-align: center;
    font-size: 10px;
}

.size-list ul {
    list-style: none
}

.size-list ul li {
    margin: 0 7px;
    display: inline;
    clear: none
}

.size-list ul li.out-of-stock {
    opacity: 0.3;
    text-decoration: line-through
}

.product-variant__radio {
    text-align: center;
    margin: 25px 0;
    list-style: none
}

.product-variant__radio li {
    margin: 0.5rem;
    display: inline-block
}

.product-variant__radio li input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
    position: absolute;
    opacity: 0
}

.product-variant__radio li input[type="radio"]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    position: relative;
    top: 3px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease
}

.product-variant__radio li input[type="radio"]:checked+.radio-label:before {
    background-color: #000;
    box-shadow: inset 0 0 0 2px #f4f4f4
}

.product-variant__radio li input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #000
}

.product-variant__radio li input[type="radio"]+.radio-label:empty:before {
    margin-right: 0
}

.product-variant__radio li .out-of-stock {
    opacity: 0.5;
    text-decoration: line-through
}

.Product__Info .ProductMeta__Title,
.Product__Info .ProductMeta__PriceList {
    text-align: center
}

.Product__Info .ProductForm__AddToCart span {
    color: #fff !important
}

.Product__Info .ProductForm__AddToCart span.Button_AddtoCart-text-sold {
    color: #000 !important
}

.Product__Info .ProductForm__AddToCart:hover span {
    color: #000 !important
}

.Product__Info .ProductForm__AddToCart:hover span.Button_AddtoCart-text-sold {
    color: #000 !important
}

.Product__Info .product-description-slider>h3.ui-accordion-header.ui-state-active>.ui-accordion-header-icon:before {
    content: "\2013";
    font-size: 20px;
    margin-top: -12px
}

.Product__Info .product-description-slider>h3.ui-accordion-header>.ui-accordion-header-icon:before {
    font-size: 20px;
    content: '+'
}

@media screen and (min-width: 1240px) {
    .Article__ImageWrapper {
        max-width: 1070px;
        margin: 0 auto
    }
}

@media screen and (min-width: 1008px) and (max-width: 1239px) {
    .Article__ImageWrapper {
        height: 500px;
        max-width: 850px;
        margin: 0 auto
    }
}

.Article__Featured-image {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    display: table;
    margin-top: 30px
}

.ArticleNav {
    display: none
}

.ArticleItem:hover .ArticleItem__Image,
.ArticleList .ImageHero:hover .ImageHero__ImageWrapper {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.shopify-section .SectionHeader--center .SectionHeader__Description h1 {
    color: #fff
}

.Collection__Template {
    max-width: 1400px;
    margin: 55px auto 0
}

.Collection__Template .ProductList--grid[data-desktop-count="4"]>.Grid__Cell,
.Collection__Template .ProductList--grid[data-desktop-count="3"]>.Grid__Cell {
    padding-left: 40px;
    margin-bottom: 60px
}

.Collection__Template .ProductList--grid[data-desktop-count="4"],
.Collection__Template .ProductList--grid[data-desktop-count="3"] {
    margin-left: -40px
}

.Collection__Title {
    text-align: center;
    margin: 25px 0
}

.Cart .Cart__Footer .Cart__Recap .Cart__Checkout {
    float: right
}

#shopify-section-featured-collections .TabPanel .ProductListWrapper.Container {
    max-width: 1400px
}

.PageContent--welcome {
    max-width: 500px
}

@media screen and (max-width: 640px) {
    .Slideshow__Slide .SectionHeader__Heading {
        font-weight: 500;
        font-size: 17px;
        margin-top: 150px
    }
}